{% extends "base.html" %}
{% load compress %}
{% block content %}
<h1>Личный кабинет {{ object }}</h1>         
<h2>Ваше портфолио</h2>
<div ng-app="App">
    {% verbatim %}
        <div ng-controller="StockCtrl">
            <div ng-if="stocks">
                <table class="table">
                    <tr>
                        <th ng-repeat="item in stock_fields">{{ item }}</th>
                    </tr>
                    <tr ng-repeat="entry in stocks">
                        <td ng-repeat="item in stock_fields">{{ entry[item] }}</td>
                    </tr>
                </table>
                <!--<ul>-->
                    <!--<li ng-repeat="item in stocks">-->
                        <!--{{ item }}-->
                    <!--</li>-->
                <!--</ul>-->
            </div>
            <div ng-if="message">
                <span class="text-muted">
                    {{ message }}
                </span>
            </div>
        </div>
    {% endverbatim %}
</div>

{% endblock content %}
{% block script %}
    {% compress js %}
        <script src="{{STATIC_URL}}js/angular.min.js"></script>
        <script src="{{STATIC_URL}}js/angular-resource.min.js"></script>
    {% endcompress %}
        <script src="{{STATIC_URL}}js/controllers.js"></script>
        <script src="{{STATIC_URL}}js/app.js"></script>
{% endblock script %}
